@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
label,
span {
  margin: 0;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Jheronimus Regular";
  src: local("Jheronimus Regular"),
    url(assets/fonts/Jheronimus-Regular.ttf) format("truetype");
}
